<p>contact works!</p>
<content>
    <div class="container p-6"> 
     <div class="">
          <p class="flex items-center justify-center">
            <section class="section section-sm section-first bg-default text-md-left">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            We at Tensei Ark Deal with Laptop Sales and Repairs, we pride ourselves as being a one stop shop for all your Electrical Needs, Our team ensures that you get value for your money.<br>
            <br>
            Visit us Today and experience seamless shopping.<br>
            <br>
            Team, Tensei Ark
                        </div>
                        <p>Reach out trough this mail: coniglioamber1&#64;gmail.com</p>
                    </div>
                </div>
            </section>
   </div>
</div>
</content>
