<!-- <p>home works!</p> -->
<section class="section section-xxl bg-default">
    <div class="container">

        <h2 class="wow fadeScale" style="visibility: visible; animation-name: fadeScale;">New products</h2>

        <div class="row row-30 row-lg-50">
            <div class="col-md-4">
                <article class="product wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="row-span-3">
                        <div class="product-body">
                            <div class="product-figure">
                                <a href="https://tenseiark.store/product/lenovo-x1-carbon-i5-1718100045.html">
                                    <img src="https://tenseiark.store/../public/data/product/x1-carbon 3.jpeg" alt="Lenovo x1 Carbon">
                                </a>
                            </div>
                            <h5 class="product-title">
                                <a href="https://tenseiark.store/product/lenovo-x1-carbon-i5-1718100045.html">Lenovo x1 Carbon</a>
                            </h5>
                            <a onclick="addToCartAjax('9c42a24a-de50-4b92-a390-5012ac75c1ae','default','')" style="" class="button button-secondary  button-zakaria add-to-cart-list">
                                <i class="fa fa-cart-plus"></i> Add to cart
                            </a>
                            <div class="product-price-wrap">
                                <div class="product-price">31,000Ksh</div>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria" onclick="addToCartAjax('9c42a24a-de50-4b92-a390-5012ac75c1ae','wishlist','')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria" onclick="addToCartAjax('9c42a24a-de50-4b92-a390-5012ac75c1ae','compare','')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="product wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="product-body">
                        <div class="product-figure">
                            <a href="https://tenseiark.store/product/hp-11-g3.html">
                                <img src="https://tenseiark.store/../public/data/product/11 G3 1.jpg" alt="Hp 11 G3 EE">
                            </a>
                        </div>
                        <h5 class="product-title">
                            <a href="https://tenseiark.store/product/hp-11-g3.html">Hp 11 G3 EE</a>
                        </h5>
                        <a onclick="addToCartAjax('9c3c673c-1366-4c88-a4fa-1bc2c14514ae','default','')" style="" class="button button-secondary  button-zakaria add-to-cart-list">
                            <i class="fa fa-cart-plus"></i> Add to cart
                        </a>
                        <div class="product-price-wrap">
                            <div class="product-price">23,000Ksh</div>
                        </div>
                    </div>
                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria" onclick="addToCartAjax('9c3c673c-1366-4c88-a4fa-1bc2c14514ae','wishlist','')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria" onclick="addToCartAjax('9c3c673c-1366-4c88-a4fa-1bc2c14514ae','compare','')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="product wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="product-body">
                        <div class="product-figure">
                            <a href="https://tenseiark.store/product/lenovo-x1-carbon-i5.html">
                                <img src="https://tenseiark.store/../public/data/product/x1-carbon 3.jpeg" alt="Lenovo x1 Carbon">
                            </a>
                        </div>
                        <h5 class="product-title">
                            <a href="https://tenseiark.store/product/lenovo-x1-carbon-i5.html">Lenovo x1 Carbon</a>
                        </h5>
                        <a onclick="addToCartAjax('9c3c661c-1c74-4761-825c-9c0ba3cdd2f5','default','')" style="" class="button button-secondary  button-zakaria add-to-cart-list">
                            <i class="fa fa-cart-plus"></i> Add to cart
                        </a>
                        <div class="product-price-wrap">
                            <div class="product-price">43,000Ksh</div>
                        </div>
                    </div>
                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria" onclick="addToCartAjax('9c3c661c-1c74-4761-825c-9c0ba3cdd2f5','wishlist','')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria" onclick="addToCartAjax('9c3c661c-1c74-4761-825c-9c0ba3cdd2f5','compare','')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="product wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="product-body">
                        <div class="product-figure">
                            <a href="https://tenseiark.store/product/lenovo-x1-carbon-i7.html">
                                <img src="https://tenseiark.store/../public/data/product/x1-carbon 3.jpeg" alt="Lenovo x1 Carbon i7">
                            </a>
                        </div>
                        <h5 class="product-title">
                            <a href="https://tenseiark.store/product/lenovo-x1-carbon-i7.html">Lenovo x1 Carbon i7</a>
                        </h5>
                        <a onclick="addToCartAjax('9c3c63c5-51d5-41cd-8411-3b5da1593288','default','')" style="" class="button button-secondary  button-zakaria add-to-cart-list">
                            <i class="fa fa-cart-plus"></i> Add to cart
                        </a>
                        <div class="product-price-wrap">
                            <div class="product-price">48,000Ksh</div>
                        </div>
                    </div>
                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria" onclick="addToCartAjax('9c3c63c5-51d5-41cd-8411-3b5da1593288','wishlist','')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria" onclick="addToCartAjax('9c3c63c5-51d5-41cd-8411-3b5da1593288','compare','')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="product wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="product-body">
                        <div class="product-figure">
                            <a href="https://tenseiark.store/product/hp-dragon-fly.html">
                                <img src="https://tenseiark.store/../public/data/product/DRAGON_FLY 2.jpg" alt="Hp 1030 G3">
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
